.outer{
  border: 1px solid #b1b0b0;
  margin-top: 80px;
  margin-bottom: 0px;
  max-width: 40%;
  background-color: rgba(203, 197, 204, 0.171);
  border-radius: 5px;
  overflow: hidden;
}

form{
  padding: 0 30px;
}

.varify{
  color: red;
}