
<nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Hello {{name}}</span>
</nav>
<div class="container">

<h3>Product List</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#{{ 'id' | uppercase }}</th>
      <th scope="col">{{'Product Name' | uppercase }}</th>
      <th scope="col">{{'Rate' | uppercase }}</th>
      <th scope="col">{{'quality' | uppercase }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i=index;">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.rate }}</td>
      <td>{{ product.quality }}</td>
      <td><button class="btn btn-danger btn-sm" (click)="delete(product, i)">{{'Delete' | uppercase}}</button></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="openDialog()">{{ 'add product' | uppercase }}</button>
</div>
